{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": { "es6": true, "browser": true, "node": true, "jest": true },
  "plugins": [
    "simple-import-sort",
    "prettier",
    "import",
    "unused-imports",
    "react"
  ],
  "rules": {
    "arrow-parens": "off",
    "simple-import-sort/imports": "warn",
    "sort-imports": "off",
    "prettier/prettier": "error",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "import/order": ["error", { "newlines-between": "always" }]
  }
}
